.navberMain {
  background: rgb(255, 255, 255);
  border-bottom: 2px solid #dfdfdf;
}
.logo-navbar {
  width: 180px;
  height: auto;
}
.top-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
.menu-navbar {
  display: flex;
  gap: 40px;
  font-size: 18px;
}
.menu-navbar a {
  color: #000;
}
ul {
  margin-bottom: 0;
  padding-left: 0;
}

/*------ Dropdown -------*/
.menu-navbar li {
  display: inline-block;
  line-height: 80px;
  font-size: 14px;
  width: 100px;
}
.menu-navbar ul li {
  text-align: center;
}
.menu-navbar li ul {
  display: none;
  position: absolute;
  width: inherit;
  background-color: rgb(242, 242, 242);
}
.menu-navbar li ul li {
  display: block;
  line-height: 50px;
}
.menu-navbar li:hover ul {
  display: block;
  z-index: 99;
}
/*------ Dropdown -------*/
.icon-respon {
  display: none;
}
.menu-navbar-responsive {
  display: none;
}
.show-respon {
  display: block;
}

@media screen and (max-width: 1000px) {
  .menu-navbar {
    display: none;
  }
  .icon-respon {
    display: block;
  }

  .menu-navbar-responsive {
    text-align: center;
    width: 100%;
  }
  .menu-navbar-responsive ul li {
    list-style: none;
    font-size: 18px;
    line-height: 50px;
  }
  .menu-navbar-responsive ul ul {
    display: none;
  }
  .menu-navbar-responsive ul ul li {
    background-color: rgb(242, 242, 242);
  }
  .menu-navbar-responsive ul li:hover > ul {
    display: block;
  }
  .menu-navbar-responsive a {
    color: #000;
  }
}
